{% extends 'shared/layout.html' %}
{% load static %}
{% block conteudo %}

<h1>Ideias Malucas</h1>
<h2>Cadastre-se</h2>
{{msg}}
<form action="index" method="post">
    {% csrf_token %}
    <label>Nome</label>
    <input type="text" name="nome" required>

    <label>Sobrenome</label>
    <input type="text" name="sobrenome" required>

    <label>E-mail</label>
    <input type="email" name="email" required>

    <label>Gênero</label>
    <select name="genero" required>
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
        <option value="O">Outro</option>
    </select>

    <label>Biografia</label>
    <textarea name="biografia" cols="30" rows="10">
    </textarea>

    <input type="submit" value="Cadastrar">
</form>

{% endblock %}